.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.not-completed {
  text-decoration: none;
}

.completed {
  text-decoration: line-through;
  color: red;
}
.todo-item {
  display: flex;
  justify-content: center;
  margin: 1%;
}
.complete-date {
  margin-left: 1%;
}